#report-card{
    padding: 20px 0px 20px 20px;
}

#report {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#temp {
  font-size: 74px;
  margin: 0px 0px 0px 0px;
}

#icon {
  margin: auto;
  max-width: 170px;
  max-height: 170px;
}

#forecast {
  margin: 0px -25px 0px -15px;
}

.card {
  background-color: #1e1e1e;
  color: #e6e6e6;
}

.container {
  max-width: 100%;
}

.form-control {
  background-color: #e6e6e6;
  color: #1e1e1e;
}

.form-control:focus {
  background-color: #e6e6e6;
  color: #1e1e1e;
}

.list-group-item {
  background-color: #1e1e1e;
  color: #e6e6e6;
}

.list-group-item:hover {
    opacity: 50%;
}

.bg-primary {
  margin: 0px 10px 20px 0px;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.wrap {
  padding: 0px 100px 0px 0px;
}

.forecast-icon {
  margin: 5px 0px 0px 0px;
  width: 70px;
  height: 70px;
}

body {
  background-color: #2e3032;
}

nav {
  background-color: #1e1e1e;
  color: #e6e6e6;
}

form {
  padding: 20px 0px 20px 0px;
}

img {
  width: 80%;
  height: auto;
}

main {
  padding: 10px;
}

section {
  margin-top: 10px;
  padding: 10px;
}
